#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px #000;
	width: 335px;

}

:root #facebox .popup { 

background-color:#f9f9f9;

}

:root #facebox .content {
	
	background-color:#f9f9f9;

}

#facebox .content {
  display:table;
  width: 310px;
  padding: 10px;
  padding-right:15px;
  padding-bottom:20px;
  background-image: linear-gradient(bottom, rgb(240,240,240) 16%, rgb(250,250,250) 62%);
background-image: -o-linear-gradient(bottom, rgb(240,240,240) 16%, rgb(250,250,250) 62%);
background-image: -moz-linear-gradient(bottom, rgb(240,240,240) 16%, rgb(250,250,250) 62%);
background-image: -webkit-linear-gradient(bottom, rgb(240,240,240) 16%, rgb(250,250,250) 62%);
background-image: -ms-linear-gradient(bottom, rgb(240,240,240) 16%, rgb(250,250,250) 62%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.16, rgb(240,240,240)),
	color-stop(0.62, rgb(250,250,250))
);
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
	box-shadow:0px 0px 1px #444;
  position:absolute;
  float:right;
  top:-15px;
  right:-15px;
  padding:8px;
  border-radius:10px;
  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background:#000;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 190;
}